<footer>
    <div class="images">
        <img src="images/footer-logo.png" alt="footer logo">
    </div>
    <div class="images">
        <img src="images/footer-title.png" alt="footer title">
    </div>
</footer>